
@import "../../../fonts/intro/stylesheet.css";
.titulo_prin {
    color: #2054a1;
    font-family: intro_boldregular;
    text-align: center;
    text-transform: uppercase;
}
.header_cont {
    margin-top: 110px;
}
.header_cont h1 {
    background: rgba(0, 0, 0, 0) url("../img/ornamento.png") no-repeat scroll center bottom;
    font-family: Palatino,Palatino Linotype,Georgia,Times,Times New Roman,serif;
    font-size: 30px;
    padding-bottom: 31px;
    text-align: center;
}
.header_cont h2 {
    font-family: Palatino,Palatino Linotype,Georgia,Times,Times New Roman,serif;
    font-size: 22px;
    text-align: center;
}
.header_cont p {
    font-family: Palatino,Palatino Linotype,Georgia,Times,Times New Roman,serif;
    font-size: 14px;
    text-align: center;
}
.image_header {
    display: block;
    margin-top: -5px;
    overflow: hidden;
    position: relative;
    top: 0;
}
.image_header img {
    width: 100%;
}
#main_content div {
    display: block;
}
#main_content li {
    list-style: outside none none;
}
#main_content a {
    color: brown;
    text-decoration: none;
}
#main_content {
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.clear {
    clear: both;
}
.data-container {
    height: auto;
    margin: 0 0 140px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.inicio_lista_element, .categoria_lista_element {
    background: #666 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    overflow: hidden;
    padding: 0;
}
#seccion_template_inicio {
    display: none;
}
.fondo {
    background: rgba(0, 0, 0, 0) url("../img/loader.gif") no-repeat scroll center center / 50% auto;
    left: 0;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    top: 0;
    width: 150%;
    z-index: 0;
}
.lateral_list li {
    position: relative;
    width: 100%;
}
.lateral_list li img {
    height: 13%;
    left: 50%;
    margin-left: -15%;
    position: relative;
}
.btn_colapse img {
}
#menu_template {
    display: none;
}
.acordion_home {
    display: none;
    height: 784px;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.panel_producto_home {
    overflow: hidden;
}
.productos_home_btn {
}
.productos_home_logo {
    height: 10%;
    left: 50%;
    margin-left: -60px;
    position: relative;
}
.panel-heading-home {
    z-index: 9;
}
.panel_collapse_home {
    margin: 0;
    position: relative;
    top: 0;
}
.logotipo {
    left: 0;
    margin-left: -50px;
    margin-top: -40px;
    padding: 30px;
    top: 0;
}
.nologo_nombre {
    float: left;
    font-family: intro_light_capsregular;
    font-size: 16px;
    height: 75px;
    letter-spacing: 1px;
    margin-top: 0;
    padding-top: 25px;
    text-align: left;
    vertical-align: middle;
    width: 80%;
}
.nologo_imagen {
    float: left;
    height: 35px;
    margin-right: 7px;
    margin-top: 24px;
}
.nologo_nombre_prin {
    font-family: intro_light_capsregular;
    font-size: 40px;
    font-weight: bold;
}
.sector {
    display: block;
    font-family: intro_light_capsregular;
    height: 90px;
    margin-top: 14px;
    padding-left: 61px;
    position: relative;
    text-align: left;
    top: 0;
    width: 100%;
}
.sector_img {
    background-color: #8ad6f0;
    border-radius: 10px;
    height: 40px;
    margin-left: 10px;
    margin-top: -100px;
    padding: 7px;
    position: relative;
    top: 0;
    width: 40px;
}
.tipo {
    font-size: 13px;
    margin-top: -80px;
    padding-left: 63px;
}
.descripcion {
    display: block;
    font-size: 13px;
    margin-top: 2px;
    padding: 0 63px 20px;
    top: 0;
    width: 100%;
    z-index: 0;
}
.direccion, .telefono, .correo, .ciudad {
    font-family: intro_bookregular;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 3px 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.datos_content h6 {
    color: black;
    float: left;
    font-family: intro_black_capsregular;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 0;
    padding: 4px 8px 0 0;
}
.titulo_marca {
    font-family: intro_boldregular;
    font-size: 19px;
    letter-spacing: 6px;
    margin-top: 50px;
    position: relative;
    text-align: left;
    top: 0;
    z-index: 1;
}
.lifestyle {
    height: 766px;
    position: relative;
    width: auto;
    z-index: 1;
}
.fondo {
    height: 107%;
    margin: 0;
    top: 0;
    width: auto;
}
.datos_content {
    position: relative;
    z-index: 1;
}
@media (min-width: 992px) {
body {
}
.panel-heading {
    left: 50%;
    margin-left: 20%;
    overflow: hidden;
    position: relative;
    width: 20%;
}
.panel-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.collapse.in {
    display: block;
    position: absolute;
    top: 0;
    width: 70%;
}
}
@media (max-width: 1200px) {
.sector_img {
}
.acordion_home {
}
.panel_producto_home {
}
.productos_home_btn {
}
.productos_home_logo {
}
.panel-heading-home {
}
.panel_collapse_home {
}
.logotipo {
    position: relative;
}
.nologo_nombre {
}
.nologo_imagen {
}
.nologo_nombre_prin {
}
.sector {
}
.descripcion {
}
.direccion {
}
.titulo_marca {
}
.fondo {
}
.lifestyle {
    height: 670px;
    margin: 0;
}
.datos_content {
}
}
@media (max-width: 992px) {
.sector_img {
}
.acordion_home {
    height: auto;
}
.panel_producto_home {
}
.productos_home_btn {
}
.productos_home_logo {
    height: 110%;
}
.panel-heading-home {
    height: 95px;
}
.panel_collapse_home {
}
.logotipo {
}
.nologo_nombre {
}
.nologo_imagen {
}
.nologo_nombre_prin {
}
.sector {
}
.descripcion {
}
.direccion {
}
.titulo_marca {
}
.fondo {
}
.lifestyle {
    height: 100%;
    margin-bottom: 20px;
}
}
@media (max-width: 768px) {
.sector_img {
}
.acordion_home {
    height: auto;
}
.panel_producto_home {
}
.productos_home_btn {
}
.productos_home_logo {
    height: 105%;
}
.panel-heading-home {
}
.panel_collapse_home {
}
.logotipo {
}
.nologo_nombre {
}
.nologo_imagen {
}
.nologo_nombre_prin {
}
.sector {
}
.descripcion {
    padding: 0 20px 0 0;
}
.direccion {
}
.titulo_marca {
}
.fondo {
    margin: 0;
    right: 0;
}
.lifestyle {
    height: 100%;
    margin-bottom: 20px;
    margin-left: -12%;
}
.datos_content {
}
}
@media screen and (max-width: 480px) {
.sector_img {
    margin-top: -104px;
}
.acordion_home {
}
.panel_producto_home {
}
.productos_home_btn {
}
.productos_home_logo {
}
.panel-heading-home {
}
.panel_collapse_home {
}
.logotipo {
    margin-left: -60px;
    width: 200px;
}
.nologo_nombre {
}
.nologo_imagen {
}
.nologo_nombre_prin {
}
.sector {
    font-family: intro_boldregular;
    font-size: 14px;
    padding-left: 59px;
    text-transform: uppercase;
}
.descripcion {
    font-size: 12px;
    margin: -30px 0 40px;
    padding: 30px 82% 0 3px;
    text-align: left;
    width: 180%;
}
.direccion {
}
.titulo_marca {
    margin-top: 40px;
}
.fondo {
    position: absolute;
}
.lifestyle {
    height: 766px;
    left: 0;
    margin-left: -94%;
    margin-top: 110px;
    position: relative;
}
.datos_content {
}
}
