#detalle_vacante{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    margin-top: 70px;
}


.cerrar_vacante{
    background: #bbb;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    color: #002c50;
    display: block;
    z-index: 999999;
    text-align: center;
    padding: 10px;
    margin-top: 16px;
    margin-right: 20px;
    line-height: 22px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.detalle_vac_in{
    top: 10px;
    left: 50%;
    margin-left:-25%;
    width: 50%;
    background: #ddd; 
}

.contacto_vacante{
    background-color: #002c50;
    color: white;
    border-radius: 13px;
    padding: 10px 20px;
    left: 50%;
    transform: translateX(-50%);
}
.contacto_vacante:hover{
    color: white;
}
.ficha label{
    color: darkblue;
}

#lista_vacante li{
    margin-top: 45px;
}

.sub_heavy_vacantes{
    color: #00509b;
    font-family: "Effra";
    font-size: 45px;
    font-weight: 900;
}

.paginationjs .paginationjs-pages li > a {
    background: transparent;
    color: #2054a1;
    display: block;
    font-family: "Effra";
    line-height: 18px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    height: 25px;
    width: 25px;
}
.paginationjs .paginationjs-pages li.active > a {
    background: deepskyblue none repeat scroll 0 0;
    color: #2054a1;
    line-height: 18px;
    padding: 5px;
    height: 25px;
    width: 25px;
}

.paginationjs .paginationjs-pages li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #aaa -moz-use-text-color #aaa #aaa;
    border-image: none;
    float: left;
    list-style: outside none none;
    overflow: hidden;
    text-align: center;
    margin-left: 5px;
}

.paginationjs .paginationjs-pages {
    float: left;
    left: 50%;
    margin-left: -7%;
    margin-top: 31px;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 9;
    transform: translateX(-50%);
}

.fondo_imagen_vacante{  
    background-image: url("../img/lag06_2.png");
}

#right_banner {
    left: auto;
    position: absolute;
    right: 0;
}
.main_noticias {
    position: relative;
    width: 100%;
}
.design_noticias {
    margin-left: 20px;
    position: relative;
}
#noticias_seccion {
    color: #7f7f7f;
    font-family: "__Open Sans_5";
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}
#pleca_horizontal {
    background-color: #8dbb23;
    display: block;
    height: 3px;
    position: relative;
    width: 100%;
}
.noti_seccion {
    display: block;
    height: 240px;
    margin-top: 20px;
    padding: 0;
    position: relative;
}
#noti_img {
    padding: 0;
}
.id_foto {
    background-color: #8dbb23;
    left: 218px;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 0;
    position: absolute;
    width: 58px;
    z-index: 236;
}
.fecha {
    color: #ffffff;
    font-family: "__Open Sans_5";
    font-weight: 700;
    margin-left: 8px;
}
#noti_text {
    left: 31px;
    padding: 0;
}
#pleca_vertical {
    background-color: #8dbb23;
    height: 207px;
    left: 50px;
    margin-right: 0;
    position: relative;
    width: 3px;
}
.titulo_noticia {
    color: #7f7f7f;
    font-family: "__Open Sans_5";
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
}
#pleca_modal {
    animation-duration: 0.6s;
    animation-name: zoom;
    background-color: #8dbb23;
    display: block;
    height: 3px;
    margin-left: 30%;
    margin-top: 10px;
    position: relative;
    width: 40%;
}
#pleca_modal_titulo {
    animation-duration: 0.6s;
    animation-name: zoom;
    background-color: #8dbb23;
    display: block;
    height: 3px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-top: 10px;
    position: relative;
    width: 40%;
}
.parr_modal {
    animation-duration: 0.6s;
    animation-name: zoom;
    color: white;
    font-family: "__Open Sans_5";
    font-size: 15px;
    font-weight: lighter;
    height: 500px;
    letter-spacing: 1px;
    line-height: 19px;
    margin-bottom: 100px;
    margin-left: 33%;
    margin-top: 20px;
    text-align: left;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#myImg:hover {
    opacity: 0.7;
}
.modal {
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    left: 0;
    margin-bottom: 100px;
    overflow-y: auto;
    padding-top: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.modal-content {
    display: block;
    margin: auto;
    max-width: 700px;
    width: 80%;
}
#caption {
    color: #7f7f7f;
    display: block;
    font-family: "__Open Sans_5";
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    margin: 10px auto 0;
    padding: 0;
    text-align: center;
}
.modal-content, #caption {
    animation-duration: 0.6s;
    animation-name: zoom;
}
@keyframes zoom {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes zoom {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
.close {
    color: #8dbb23;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    transition: all 0.3s ease 0s;
}
.close:hover, .close:focus {
    color: #8dbb23;
    cursor: pointer;
    text-decoration: none;
}
#cerrar_modal {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    right: 411px;
    top: 59px;
    transition: all 0.3s ease 0s;
}
#cerrar_modal:hover, #cerrar_modal:focus {
    color: #8dbb23;
    cursor: pointer;
    text-decoration: none;
}
@media (max-width: 1200px) {
#right_banner {
}
#pleca_vertical {
    background-color: red;
    height: 207px;
    left: 110px;
    margin-right: 0;
    position: relative;
    width: 3px;
}
}
@media only screen and (max-width: 700px) {
#right_banner {
}
.modal-content {
    width: 100%;
}
}
@media (max-width: 540px) {
#right_banner {
}
.noti_seccion {
    display: block;
    height: 410px;
    margin-top: 20px;
    padding: 0;
    position: relative;
}
#noti_text {
    left: 13px;
    margin-top: -190px;
    padding: 0;
}
#pleca_vertical {
    background-color: #8dbb23;
    height: 207px;
    left: -14px;
    margin-right: 0;
    position: relative;
    width: 3px;
}
}
